</div>
</div>
</div>
<div class="container container-footer">
    <div class="row">
        <div class="column small-12 medium-3">
            <div class="footer-primary">
                <div class="connect">
                    <div class="footer-headline">Connect with Us</div>
                    <!-- <div class="newsletter-form">
                        <a href="" class="cta sidebar-cta"><span>Subscribe to Letter</span></a>
                    </div> -->
                    <ul class="connect-links">
                        <li>
                            <a href="https://www.facebook.com/stjohnsgroupofinstitutions/" class="connect-link"><img class="whatsapp-header-footer" src="/images/social/facebook.png" alt="facebook"></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/stjohns_vlr/" class="connect-link"><img class="whatsapp-header-footer" src="/images/social/instagram.png" alt="instagram"></a>
                        </li>
                        <li>
                            <a href="#" class="connect-link"><img class="whatsapp-header-footer" src="/images/social/youtube.png" alt="youtube"></a>
                        </li>
                        <li><a href="https://api.whatsapp.com/send?phone=919488690605" target="_blank" rel="noopener noreferrer"><img class="whatsapp-header-footer" src="/images/social/whatsapp.png" alt="WhatsApp Icon"></a></li>
                     </ul>
                </div>
            </div>
        </div>
        <div class="column small-12 medium-3">
            <div class="footer-primary">
                <div class="connect">
                    <a href="https://g.page/stjohnsinstitutions?share" target="_blank"><img src="/images/maps.jpg" alt=""></a>
                </div>
            </div>
        </div>
        <div class="column small-12 medium-3">
            <div class="footer-secondary" role="navigation">
                <p class="hiddenText">Footer Helpful Links</p>
                <ul class="helpful-links" style="column-count: 1;">
                    <li class="helpful-link-item">
                        <a href="https://stjohnsinstitutions.com/" class="helpful-link" style="pointer-events: none; font-weight: bold;font-size: 1.2em">Links</a>
                    </li>
                    <li class="helpful-link-item">
                        <a href="https://stjohnsinstitutions.com/index.html" title="" class="helpful-link">Home</a>
                    </li>
                    <li class="helpful-link-item">
                        <a href="https://stjohnsinstitutions.com/about/index.html" title="" class="helpful-link">About Us</a>
                    </li>
                    <li class="helpful-link-item">
                        <a href="https://stjohnsinstitutions.com/events/index.html" class="helpful-link">Events</a>
                    </li>
                    <li class="helpful-link-item">
                        <a href="https://stjohnsinstitutions.com/department/index.html" title="" class="helpful-link">Courses Offered</a>
                    </li>
                    <li class="helpful-link-item">
                        <a href="https://stjohnsinstitutions.com/gallery/index.html" title="" class="helpful-link">Gallery</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="column small-12 medium-3">
            <div class="footer-secondary" role="navigation">
                <p class="hiddenText">Footer Helpful Links</p>
                <ul class="helpful-links" style="column-count: 1;">
                    <ul class="helpful-links" style="column-count: 1;">
                        <li class="helpful-link-item">
                            <a href="contact/index.html" class="helpful-link" style="pointer-events: none; font-weight: bold;font-size: 1.2em">Contact Us</a>
                        </li>
                        <li class="helpful-link-item">
                            <a href="tel:+91-8838754173" title="" class="helpful-link">+91-8838754173</a>
                            <a href="tel:+91-9488690605" title="" class="helpful-link">+91-9488690605</a>
                        </li>
                        <li class="helpful-link-item">
                            <a href="tel:7094479300" title="" class="helpful-link">+91-7094479300</a>
                            <a href="tel:7539965807" title="" class="helpful-link">+91-7539965807</a>
                        </li>
                        <li class="helpful-link-item">
                            <a href="mailto:stjohnscollegeofnursing@gmail.com" title="" class="helpful-link">stjohnscollegeofnursing@gmail.com</a>
                        </li>
                    </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column small-12">
            <div class="copyright">
                &copy; All Right Reserved <script>document.write(new Date().getFullYear())</script>, St. John's College of Nursing. Developed by 
                <a href="https://vleafy.com" target="_blank"><img alt="VLeafy" src="https://vleafy.com/wp-content/uploads/2022/09/cropped-vleafy-logo-150x150.png" width="30"></a>
            </div>
        </div>
    </div>
</div>
</div>
<script type="text/javascript" src="/sites/default/files/js/jquery.js"></script>
<script type="text/javascript" src="/sites/default/files/js/js_dWhBODswdXXk1M5Z5nyqNfGljmqwxUwAK9i6D0YSDNs.js"></script>
<script type="text/javascript" src="/sites/default/files/js/js_zk6E_FWvKA4Ku6JSXY-F0oYo3Ck75G98FoGpm7ybyds.js"></script>
<script type="text/javascript" src="/sites/default/files/js/js_nqYXTQqQmww0EtueD3uTrl3fcUWX07bySQWVCXsoL4k.js"></script>
<script type="text/javascript" src="/sites/default/files/js/js_dgTaqxMriwUc2It_FW-X18lJCasw4vEyRMclMPvs1no.js"></script>
<script type="text/javascript" src="/sites/default/files/js/js_8smM5zCirhNQDxZbvy8xEMvltw-lFIUB7Xu04iKWCTM.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
<script src="http://test2.cheersbyeoffers.com/osprey/js/scriptsInitial.js"></script>

</body>

</html>
