<!DOCTYPE html>
<html lang="en" dir="ltr">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="alternate" type="application/rss+xml" title="Welcome to St.John's college of nursing" href="https://stjohnsinstitutions.com/rss.xml" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#ffffff" />
    <link rel="mask-icon" href="https://stjohnsinstitutions.com/safari-pinned-tab.svg" color="#192f59" />
    <link rel="shortcut icon" sizes="32x32" href="https://stjohnsinstitutions.com/favicon-32x32.png" />
    <link rel="shortcut icon" sizes="16x16" href="https://stjohnsinstitutions.com/favicon-16x16.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="https://stjohnsinstitutions.com/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="UT Austin" />

	<meta name="keywords" content="St. John's College in Vellore,St.John's group of institution in vellore, St. John's College Of Nursing,St. John's Hospitals, St. John's vellore, Diploma in Nursing, Best Nursing College in tamilnadu, nursing course admission, nursing colleges in chennai, nursing college,nursing college in vellore,best nursing college in vellore,nursing education in vellore, St.John's hospitals Education, Nursing College vellore, Diploma in nursing vellore, B.Sc nursing Degree course,best infrastructure in vellore,best lab facility in vellore, Nursing degree course,medical Nursing,Diploma Nursing, St.John's Nursing in vellore,Top nursing college in vellore,best Diploma Nursing vellore,best bsc nursing and diploma nursing in vellore,Top best bsc nursing college and diploma in vellore,stjohns college of nursing,">
	
<meta name="description" content="St. John's College in Vellore, St. John's College Of Nursing was founded in vellore with a view to groom caring, competent nurses capable of providing nursing care of international standards,St. john's of institution to enhance the quality and level of education in the medical field and engineering field"/>

<meta property="og:type" content="article" />
<meta name ="ROBOTS" content="All">    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta name="classification" content="St. John's College Of Nursing vellore , stjohns">
<meta name="Author" content="St. John's College Of Nursing">
<meta name="coverage" content="tamilnadu">
<meta name="owner" content="http://stjohnsinstitutions.com/">
<meta name="rating" content="General">
<meta name="Subject" content="Nursing College vellore">
<meta name="Language" content="English">
<meta name="Copyright" content="© stjohnsnursing">
<meta name="Distribution" content="Global">
  <meta property="og:title" content="Nursing Education: Education & Research - stjohns nursing" />
  <meta property="og:url" content="http://stjohnsnursing.com/nursing.php" />
  <meta property="og:site_name" content="stjohns college of nursing" />
  <meta property="og:description" content="stjohns College of Nursing was founded in 1997 with a view to groom caring, competent nurses capable of providing nursing care of international standards." />
  <meta property="twitter:title" content="Nursing Education: Education & Research - stjohns nursing" />
  <meta property="twitter:card" content="summary" />
  <meta property="twitter:site" content="@stjohnsnursing" />
  <meta property="twitter:creator" content="@stjohnsnursing" />
  <meta property="twitter:url" content=" http://stjohnsnursing.com/nursing.php" />
  <meta property="twitter:description" content="stjohns College of Nursing was founded in 1997 with a view to groom caring, competent nurses capable of providing nursing care of international standards." />
  <meta property="og:image" content="http://stjohnsnursing.com/images/logo1.png" />
    <title>St.John's College of Nursing</title>
    <link type="text/css" rel="stylesheet" href="/sites/default/files/css/css_xE-rWrJf-fncB6ztZfd2huxqgxu4WO-qwma6Xer30m4.css" media="all" />
    <link type="text/css" rel="stylesheet" href="/sites/default/files/css/css_vEGuwuitUE1Ojmq5p1pQOmn103CJanFWDySQW-yS2bM.css" media="all" />
    <link type="text/css" rel="stylesheet" href="/sites/default/files/css/css_tYMx-4HMbYf14Vi4pC2IzudzJpWC9gB9B9FHiLsrgPo.css" media="all" />
    <link type="text/css" rel="stylesheet" href="/sites/default/files/css/css_tPuFuY_HUSrtrt08uRWtdbk6k_1i0N781G47AzGEqts.css" media="all" />
    <link type="text/css" rel="stylesheet" href="/sites/default/files/css/css_NaHK3zO0szhr68mZ6Mnb9J2ik4rcoMoV3o6yJ8Zd2Cw.css" media="all" />
    <link type="text/css" rel="stylesheet" href="/sites/default/files/css/css_GINGAjXhXmeeu1mkHb89KAZ5vP-2AThuCrPcXQ_RBOY.css" media="print" />
    <script type="text/javascript" src="sites/default/files/js/js_skqGD_-bJjRAp8bjfSpH335pTTaQswUTeJunDNYVCxQ.js"></script>
    <link rel="stylesheet" href="css/custom.css">
    <style type="text/css">
    #video-controls {
        display: none !important;
    }

    @media screen and (max-width: 900px) {
        .topnav-constituents {
            display: none !important;
        }

        .container-logo .UT-logo {
            left: -18%;
            margin: 0 0 0 0px;
            width: 160px;
            height: 42px;
            top: 3px;
            float: left;
        }

        .differentiator .image-wrapper img.logoimg {
            min-width: 74%;
            padding-left: 16%;
        }

        /*            .container-footer .helpful-link-item {
                                    padding-bottom: 7px;
                                    }*/
        .front #scroll-hint {
            margin-left: 49%
        }
    }

    #ut-intro {
        background-color: #204892 !important;
    }

    .front .UT-page>div.public-custom {
        background: rgba(0, 0, 0, .71);
    }

    @media only screen and (min-width: 64.063em) {
        .differentiator.public-custom .content-wrapper h2 {
            border-left: 16px solid white;
        }

        .differentiator.public-custom .content-wrapper p {
            border-left: 16px solid white;
        }
    }

    @media only screen and (max-width: 900px) {
        .differentiator.public-custom .content-wrapper h2 {
            border-left: 8px solid white;
        }

        .differentiator.public-custom .content-wrapper p {
            border-left: 8px solid white;
        }

        .differentiator.public-video-custom .content-wrapper {
            padding: 0px 15px 40px 15px;
        }

        .differentiator .image-wrapper.video-height-custom {
            padding-left: 0;
            padding-right: 0;
            height: 185px;
        }
    }

    @media screen and (min-width: 900px) {
        .differentiator .content-wrapper {
            padding: 0 !important;
            margin: 10%;
            margin-left: 19%;
        }
    }

    @media only screen and (min-width: 64.063em) {
        .front .homepage-hero__image--fixed {
            height: calc(100vh - 546px);
        }
    }

    @media only screen and (min-width: 64.063em) {
        .differentiator .image-wrapper {
            height: calc(100vh - 228px);
        }
    }
    </style>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick-theme.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js" type="text/javascript"></script>
    <!-- <link rel="stylesheet" href="/css/bootstrap.min.css"> -->
    <style>
        .wrapper {
                                        width: 100%;
                                        padding-top: 7%;
                                        text-align: center;
                                        }
                                        .carousel {
                                        width: 100%;
                                        margin: 0px auto;
                                        margin-top: 2%;
                                        }
                                        
                                        .carousel3 {
                                        width: 100%;
                                        margin: 0px auto;
                                        margin-top: 2%;
                                        }
                                        .front .homepage-hero__video .video-wrapper {
                                        display: block;
                                        position: relative;
                                        height: 100%;
                                        z-index: 1;
                                        }
                                        @media screen and (max-width:900px) {
                                        .video-wrapper {
                                        width: 100% !important;
                                        height: 478px !important;
                                        margin-top: 0px !important;
                                        margin-left: 0px !important;
                                        }
                                        .wrapper {
                                        padding-top: 0%;
                                        }
                                        .front .homepage-hero__image--fixed {
                                        height: calc(100vh - -12px);
                                        display: none !important;
                                        }
                                        #homepage-hero {
                                        height: 24vh !important
                                        }
                                        .margin-facilities,
                                        .margin-osprey {
                                        margin-top: 10%;
                                        }
                                        .slick-slide img {
                                        display: block;
                                        height: 190px;
                                        }
                                        .carousel {
                                        margin-top: 0% !important;
                                        }
                                        .headline {
                                        font-size: 18px;
                                        text-align: center;
                                        }
                                        #university-stories .card.prominent .content-wrapper {
                                        /* padding: 13px 10px; */
                                        width: auto;
                                        }
                                        #university-stories .university-stories__linked-box:hover .card:hover {
                                        background: #192f59;
                                        text-decoration: none;
                                        }
                                        }
                                        @media only screen and (min-width: 40.063em) {
                                        .differentiator .content-wrapper p {
                                        margin-bottom: 0px;
                                        }
                                        }
                                        #university-stories .university-stories__linked-box:hover .card:hover {
                                        background: #192f59;
                                        text-decoration: none;
                                        }
                                        #university-stories .university-stories__linked-box:hover .headline {
                                        text-decoration: none;
                                        }
                                        @media only screen and (min-width: 900px) {
                                        .custom-font {
                                        font-size: 1.0rem !important;
                                        }
                                        }
                                        .content-wrapper h2 {
                                        text-align: center !important;
                                        }
                                        </style>
    <style>
        .applynow {
                                        display: none;
                                        }
                                        .hero-video video {
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        width: 100%;
                                        height: 100%;
                                        object-fit: fill;
                                        /* background-image: url(../img/news-2.jpeg); */
                                        background-size: 100%;
                                        }
                                        @media screen and (min-width: 900px) {
                                        .col-sm-6 {
                                        width: 35%;
                                        float: right;
                                        margin-right: 5%;
                                        margin-top: 8%;
                                        }
                                        h2.vidTitle {
                                        line-height: 1em;
                                        font-size: 30px !important;
                                        }
                                        .hero-video {
                                        width: 989px;
                                        position: absolute;
                                        z-index: -2;
                                        /* top: 100px; */
                                        right: calc(50% - 313px)
                                        }
                                        h2.vidTitle {
                                        font-size: 53px;
                                        padding-left: 20px;
                                        margin-top: 0px;
                                        color: #333366;
                                        font-weight: 100;
                                        margin-left: 5%;
                                        }
                                        }
                                        .fillOne.add {
                                        fill: rgba(255, 255, 255, 0);
                                        }
                                        @media screen and (max-width:900px) {
                                        h2.vidTitle {
                                        font-size: 23px;
                                        padding-left: 20px;
                                        margin-top: 150px;
                                        color: #333366;
                                        font-weight: 100;
                                        margin-left: 5%;
                                        }
                                        .hero-image,
                                        .hero-video {
                                        width: 100%;
                                        position: initial;
                                        z-index: -2;
                                        top: 0;
                                        right: calc(50% - 173px);
                                        }
                                        }
                                        @media screen and (max-width: 900px) {
                                        #homepage-hero {
                                        height: 93vh !important;
                                        }
                                        .front .homepage-hero__video {
                                        background: transparent;
                                        height: 34vh;
                                        background-size: cover;
                                        background-position: center center;
                                        position: absolute;
                                        }
                                        }
                                        @media screen and (max-width: 600px) {
                                        .filltriangle {
                                        display: none;
                                        }
                                        h2.vidTitle {
                                        font-size: 23px;
                                        padding-left: 10px;
                                        margin-top: 56px;
                                        color: #333366;
                                        font-weight: 100;
                                        margin-left: 0%;
                                        padding-right: 10px;
                                        }
                                        p.vidPara {
                                        font-size: 20px;
                                        margin-left: 10px;
                                        margin-top: 20px;
                                        text-align: justify;
                                        margin-right: 10px;
                                        }
                                        .applynow {
                                        background: #333366;
                                        padding: 10px 20px;
                                        top: 15px;
                                        float: right;
                                        color: white !important;
                                        position: absolute;
                                        right: 35%;
                                        border-radius: 5px;
                                        display: block;
                                        }
                                        .bannerSection {
                                        margin-top: 15%;
                                        }
                                        }
                                        @media screen and (max-width: 600px) {
                                        .landingScreenSection {
                                        background-color: white;
                                        background-image: white
                                        }
                                        .landingScreenSection svg {
                                        margin-left: -122% !important;
                                        }
                                        }
                                        @media only screen and (min-width: 64.063em) {
                                        .front .homepage-hero__image--fixed {
                                        height: calc(100vh - 415px)
                                        }
                                        .landingScreenSection {
                                        background-color: white;
                                        background-image: white;
                                        }
                                        }
                                        @media screen and (min-width:900px) {
                                        .landingScreenSection img {
                                        width: 65%;
                                        margin-left: 15%;
                                        }
                                        }
                                        .landingScreenSectionimg {
                                        animation: customload 2s;
                                        }
                                        @keyframes customload {
                                        0% {
                                        opacity: 0;
                                        }
                                        100% {
                                        opacity: 1;
                                        }
                                        }
                                        @media screen and (max-width: 600px) {
                                        .landingScreenSectionimg {
                                        margin-top: 50%;
                                        }
                                        }
                                        #university-stories:before {
                                        content: "";
                                        top: 0px;
                                        }
                                        @media only screen and (min-width: 40.063em) {
                                        #ut-intro h2.section-title {
                                        font-size: 30px !important;
                                        margin-bottom: 0px;
                                        }
                                        }
                                        @media screen and (max-width:600px) {
                                        .customfont {
                                        font-size: .9em !important;
                                        }
                                        .differentiator .content-wrapper p {
                                        font-size: 1em !important;
                                        }
                                        #ut-intro h2.section-title.custom {
                                        font-size: 1.5em;
                                        line-height: 2rem;
                                        }
                                        }
                                        @media screen and (min-width:600px) and (max-width:1200px) {
                                        container-logo .UT-logo {
                                        position: absolute;
                                        left: 10% !important;
                                        }
                                        }
                                        @media screen and (max-width: 600px){
                                            .differentiator .image-wrapper img{
                                                height: 250px!important;
                                            }
                                            .differentiator .content-wrapper {
                                                padding: 40px 15px 0px 15px;
                                            }
                                        }
                                        @media screen and (min-width:700px){
                                            .differentiator .image-wrapper img.custom-course{
                                                min-width: 50%!important;
                                            }
                                        }
                                        .liclass{
                                            font-size: 1.3em!important;
                                        }
                                        /* @media screen and (min-width:600px){
                                            .carousel3{
                                                width: 130%!important;
                                            }
                                            #ut-intro{
                                                padding-bottom: 0px!important;
                                            }
                                        } */
                                        </style>
    </head>

<body class="html front not-logged-in no-sidebars page-node">
    <div id="skip-link" style="display: none;"> <a accesskey="C" href="https://stjohnsinstitutions.com/#" class="element-invisible element-focusable">Skip to main content</a>
    </div>

    
    <header class="UT-header">
        <div class="container container-logo">
            <div class="row">
                <div class="column small-12">
                    <h1 class="UT-logo">
                        <a href="https://stjohnsinstitutions.com/index.html" class="UT-logo-link"><span class="hiddenText"></span></a>
                    </h1>
                </div>
            </div>
            <a href="#" class="UT-nav-hamburger icon-menu" id="menu-icon"><span class="hiddenText">Menu</span></a>
        </div>
        <div class="nav-overlay" id="nav-overlay"></div>
        <div class="nav-wrapper">
            <div class="container container-topnav">
                <div class="row">
                    <div class="column small-12">
                        <div class="topnav" role="navigation">
                            <p class="hiddenText">Header Helpful Links</p>
                            <ul class="topnav-constituents">
                                <li class="nav-item">
                                    <a href="mailto:stjohnscollegeofnursing@gmail.com" title="" class="nav-link nav-link-custom"><img src="/sites/media/mail.svg" alt="" style="width:30px"></a>
                                </li>
                                <li class="nav-item">
                                    <a href="tel:+91-9488690605" class="nav-link nav-link-custom">+91-9488690605</a>
                                </li>
                                <li class="nav-item">
                                    <a href="tel:+91-7094479300" class="nav-link nav-link-custom">+91-7094479300</a>
                                </li>
                                <li class="nav-item">
                                    <!-- <a href="tel:+91-7094479300" class="nav-link nav-link-custom">+91-7094479300</a> -->
                                    <a href="https://api.whatsapp.com/send?phone=917094479300" target="_blank" class="nav-link nav-link-custom" rel="noopener noreferrer"><img class="whatsapp-header" src="/images/whatsapp.png" alt="WhatsApp Icon" style="background-color: #666e74;"></a>
                                </li>
                            </ul>
                            <ul class="topnav-links">
                                <li class="nav-item nav-item-button">
                                    <p class="glow-text" style="color: white">For Entrance Exam</p>
                                </li>
                                <li class="nav-item nav-item-button">
                                    <a href="https://stjohnsinstitutions.com/applyonline.html"
                                        class="nav-link nav-link-button apply-button" style="width: 7.375rem">Apply
                                        Online</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /topnav -->
            <div class="container container-nav">
                <div class="row">
                    <div class="column small-12">
                        <nav role="navigation">
                            <ul class="nav" id="main-nav">
                                <li class="nav-item">
                                    <a href="https://stjohnsinstitutions.com/index.html" class="nav-link nav-link-custom">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a href="https://stjohnsinstitutions.com/about/index.html#aboutcollege" class="nav-link has-child nolink">About</a>
                                    <div class="sub-nav-wrapper">
                                        <div class="sub-nav-row">
                                            <ul class="sub-nav sub-nav-has-feature-customevent">
                                              <li class="sub-nav-item">
                                                <a href="https://stjohnsinstitutions.com/about/index.html#aboutcollege" class="sub-nav-link"><span>About College</span></a>
                                              </li>
                                              <li class="sub-nav-item">
                                                <a href="https://stjohnsinstitutions.com/about/index.html#founders" class="sub-nav-link"><span>Founder</span></a>
                                              </li>
                                              <li class="sub-nav-item">
                                                <a href="https://stjohnsinstitutions.com/about/index.html#trustees" class="sub-nav-link"><span>Trustees</span></a>
                                              </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item" style="display:none">
                                    <a href="https://stjohnsinstitutions.com/academic/index.html" class="nav-link nav-link-custom">Academics</a>
                                </li>
                                <li class="nav-item">
                                    <a href="https://stjohnsinstitutions.com/events/index.html" class="nav-link has-child nolink">Events</a>
                                    <div class="sub-nav-wrapper">
                                        <div class="sub-nav-row">
                                            <ul class="sub-nav sub-nav-has-feature-customevent">
                                              <li class="sub-nav-item">
                                                <a href="https://stjohnsinstitutions.com/events/index.html#enfuego" class="sub-nav-link"><span>Enfuego</span></a>
                                              </li>
                                              <li class="sub-nav-item">
                                                <a href="https://stjohnsinstitutions.com/events/index.html#lamplighting" class="sub-nav-link"><span>Lamp Lighting</span></a>
                                              </li>
                                                <li class="sub-nav-item">
                                                    <a href="https://stjohnsinstitutions.com/events/index.html#social" class="sub-nav-link"><span>Social Activities</span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a href="https://stjohnsinstitutions.com/department/index.html" class="nav-link has-child nolink">COURSES OFFERED</a>
                                    <div class="sub-nav-wrapper">
                                        <div class="sub-nav-row">
                                            <div class="sub-nav-feature show-for-large-up">
                                                <div class="feature-image">
                                                    <img class="utexas-flex-content-area-image" typeof="foaf:Image" src="/images/deptgallery.jpg" alt="Young female research student filling trays of samples to be processed." />
                                                </div>
                                                <div class="feature-content">
                                                    <h3 class="feature-headline">Courses Offered</h3>
                                                    <div class="feature-text">
                                                        <p class="justifycontent custom-font">
                                                            Nursing contributes to the health services in a vital and
                                                            significant way in the health ca redelivery system. It
                                                            recognizes national health goals and is committed to
                                                            participate in the implementation of National Health
                                                            policies and programs.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <ul class="sub-nav sub-nav-has-feature">
                                                <li class="sub-nav-item">
                                                    <a href="https://stjohnsinstitutions.com/department/index.html#bscnursing" class="sub-nav-link"><span>B.SC Nursing</span></a>
                                                </li>
                                                <li class="sub-nav-item">
                                                    <a href="https://stjohnsinstitutions.com/department/index.html#diplomanursing" class="sub-nav-link"><span>Diploma Nursing</span></a>
                                                </li>
                                                <li class="sub-nav-item">
                                                    <a href="https://stjohnsinstitutions.com/department/index.html#dtednursing" class="sub-nav-link"><span>D.T.Ed Nursing</span></a>
                                                </li>
                                                <li class="sub-nav-item">
                                                    <a href="https://stjohnsinstitutions.com/department/index.html#bednursing" class="sub-nav-link"><span>B.Ed Nursing</span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>

                                <li class="nav-item">
                                    <a href="https://stjohnsinstitutions.com/gallery/index.html" class="nav-link nav-link-custom">GALLERY</a>
                                </li>

                                <li class="nav-item">
                                    <a href="https://stjohnsinstitutions.com/contact/index.html" class="nav-link nav-link-custom">CONTACT US</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="UT-page" id="ut-page-content" role="main">
      <div id="ut-intro" class="container">
        <div class="row">
          <div class="column small-12 medium-9 medium-centered large-7">
