<!DOCTYPE html>
<html lang="en" dir="ltr">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
    <title>Apply Now | St.John's College of Nursing</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="alternate" type="application/rss+xml" title="Welcome to St.John's college of nursing" href="https://stjohnsinstitutions.com/rss.xml" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="keywords" content="St. John's College in Vellore,St.John's group of institution in vellore, St. John's College Of Nursing,St. John's Hospitals, St. John's vellore, Diploma in Nursing, Best Nursing College in tamilnadu, nursing course admission, nursing colleges in chennai, nursing college,nursing college in vellore,best nursing college in vellore,nursing education in vellore, St.John's hospitals Education, Nursing College vellore, Diploma in nursing vellore, B.Sc nursing Degree course,best infrastructure in vellore,best lab facility in vellore, Nursing degree course,medical Nursing,Diploma Nursing, St.John's Nursing in vellore,Top nursing college in vellore,best Diploma Nursing vellore,best bsc nursing and diploma nursing in vellore,Top best bsc nursing college and diploma in vellore,stjohns college of nursing,">
	
<meta name="description" content="Enroll at St. John's College Of Nursing and become competent nurses capable of providing nursing care of international standards."/>

<meta property="og:type" content="article" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta name="classification" content="St. John's College Of Nursing vellore , stjohns">
<meta name="Author" content="St. John's College Of Nursing">
<meta name="coverage" content="tamilnadu">
<meta name="owner" content="http://stjohnsinstitutions.com/">
<meta name="rating" content="General">
<meta name="Subject" content="Nursing College vellore">
<meta name="Language" content="English">
<meta name="Copyright" content="© stjohnsnursing">
<meta name="Distribution" content="Global">
<link rel="icon" href="favicon.png" />
  <meta property="og:title" content="Nursing Education: Education & Research - stjohns nursing" />
  <meta property="og:site_name" content="stjohns college of nursing" />
  <meta property="og:description" content="stjohns College of Nursing was founded in 1997 with a view to groom caring, competent nurses capable of providing nursing care of international standards." />
  <meta property="twitter:title" content="Nursing Education: Education & Research - stjohns nursing" />
  <meta property="twitter:card" content="summary" />
  
    
    <link type="text/css" rel="stylesheet" href="/sites/default/files/css/css_xE-rWrJf-fncB6ztZfd2huxqgxu4WO-qwma6Xer30m4.css" media="all" />
    <link type="text/css" rel="stylesheet" href="/sites/default/files/css/css_vEGuwuitUE1Ojmq5p1pQOmn103CJanFWDySQW-yS2bM.css" media="all" />
    <link type="text/css" rel="stylesheet" href="/sites/default/files/css/css_tYMx-4HMbYf14Vi4pC2IzudzJpWC9gB9B9FHiLsrgPo.css" media="all" />
    <link type="text/css" rel="stylesheet" href="/sites/default/files/css/css_tPuFuY_HUSrtrt08uRWtdbk6k_1i0N781G47AzGEqts.css" media="all" />
    <link type="text/css" rel="stylesheet" href="/sites/default/files/css/css_NaHK3zO0szhr68mZ6Mnb9J2ik4rcoMoV3o6yJ8Zd2Cw.css" media="all" />
    <link type="text/css" rel="stylesheet" href="/sites/default/files/css/css_GINGAjXhXmeeu1mkHb89KAZ5vP-2AThuCrPcXQ_RBOY.css" media="print" />
    <script type="text/javascript" src="sites/default/files/js/js_skqGD_-bJjRAp8bjfSpH335pTTaQswUTeJunDNYVCxQ.js"></script>
    <link rel="stylesheet" href="css/custom.css">
    
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick-theme.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js" type="text/javascript"></script>
    <!-- <link rel="stylesheet" href="/css/bootstrap.min.css"> -->
    
    </head>

<body class="html front not-logged-in no-sidebars page-node">
    <div id="skip-link" style="display: none;"> <a accesskey="C" href="https://stjohnsinstitutions.com/" class="element-invisible element-focusable">Skip to main content</a>
    </div>

    
    <header class="UT-header">
        <div class="container container-logo">
            <div class="row">
                <div class="column small-12">
                    <h1 class="UT-logo">
                        <a href="https://stjohnsinstitutions.com/" class="UT-logo-link"><span class="hiddenText"></span></a>
                    </h1>
                </div>
            </div>
            <a href="#" class="UT-nav-hamburger icon-menu" id="menu-icon"><span class="hiddenText">Menu</span></a>
        </div>
        <div class="nav-overlay" id="nav-overlay"></div>
        <div class="nav-wrapper">
            <div class="container container-topnav">
                <div class="row">
                    <div class="column small-12">
                        <div class="topnav" role="navigation">
                            <p class="hiddenText">Header Helpful Links</p>
                            <ul class="topnav-constituents">
                                <li class="nav-item">
                                    <a href="mailto:stjohnscollegeofnursing@gmail.com" title="" class="nav-link nav-link-custom"><img src="/sites/media/mail.svg" alt="" style="width:30px"></a>
                                </li>
                                <li class="nav-item">
                                    <a href="tel:+91-9488690605" class="nav-link nav-link-custom">+91-9488690605</a>
                                </li>
                                <li class="nav-item">
                                    <a href="tel:+91-7094479300" class="nav-link nav-link-custom">+91-7094479300</a>
                                </li>
                                <li class="nav-item">
                                    <!-- <a href="tel:+91-7094479300" class="nav-link nav-link-custom">+91-7094479300</a> -->
                                    <a href="https://api.whatsapp.com/send?phone=917094479300" target="_blank" class="nav-link nav-link-custom" rel="noopener noreferrer"><img class="whatsapp-header" src="/images/whatsapp.png" alt="WhatsApp Icon" style="background-color: #666e74;"></a>
                                </li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- /topnav -->
            <div class="container container-nav">
                <div class="row">
                   <div class="column small-12">
                      <nav role="navigation">
                         <ul class="nav" id="main-nav">
                            <li class="nav-item">
                               <a href="https://stjohnsinstitutions.com/" class="nav-link nav-link-custom">Home</a>
                            </li>
                            <li class="nav-item">
                               <a href="https://stjohnsinstitutions.com/about-us.html#aboutcollege" rel="nofollow, noindex" class="nav-link has-child nolink">About</a>
                               <div class="sub-nav-wrapper">
                                  <div class="sub-nav-row">
                                     <ul class="sub-nav sub-nav-has-feature-customevent">
                                        <li class="sub-nav-item">
                                           <a href="https://stjohnsinstitutions.com/about-us.html#aboutcollege" rel="nofollow, noindex" class="sub-nav-link"><span>About College</span></a>
                                        </li>                                       
                                        <li class="sub-nav-item">
                                           <a href="https://stjohnsinstitutions.com/trustees.html" rel="nofollow, noindex"class="sub-nav-link"><span>Trustees</span></a>
                                        </li>
                                         <li class="sub-nav-item">
                                           <a href="https://stjohnsinstitutions.com/academics-and-facilities.html" class="sub-nav-link"><span>Facilities</span></a>
                                        </li>
                                     </ul>
                                  </div>
                               </div>
                            </li>
                           
                            <li class="nav-item">
                               <a href="https://stjohnsinstitutions.com/events.html" class="nav-link has-child nolink">Events</a>
                               <div class="sub-nav-wrapper">
                                  <div class="sub-nav-row">
                                     <ul class="sub-nav sub-nav-has-feature-customevent">
                                        <li class="sub-nav-item">
                                           <a href="https://stjohnsinstitutions.com/events.html#lamplighting" rel="nofollow, noindex" class="sub-nav-link"><span>Lamp Lighting</span></a>
                                        </li>
                                        <li class="sub-nav-item">
                                           <a href="https://stjohnsinstitutions.com/events.html#enfuego" rel="nofollow, noindex" rel="nofollow, noindex" class="sub-nav-link"><span>Enfuego</span></a>
                                        </li>
                                        <li class="sub-nav-item">
                                           <a href="https://stjohnsinstitutions.com/events.html#social" rel="nofollow, noindex"class="sub-nav-link"><span>Social Activities</span></a>
                                        </li>
                                     </ul>
                                  </div>
                               </div>
                            </li>
                            <li class="nav-item">
                               <a href="https://stjohnsinstitutions.com/all-courses.html" class="nav-link has-child nolink">COURSES OFFERED</a>
                               <div class="sub-nav-wrapper">
                                  <div class="sub-nav-row">
                                     <div class="sub-nav-feature show-for-large-up">
                                        <div class="feature-image">
                                           <img class="utexas-flex-content-area-image" typeof="foaf:Image" src="https://stjohnsinstitutions.com/images/media/deptgallery.jpg" alt="Young female research student filling trays of samples to be processed." />
                                        </div>
                                        <div class="feature-content">
                                           <h3 class="feature-headline">Courses Offered</h3>
                                           <div class="feature-text">
                                              <p class="justifycontent custom-font">
                                                 Primary Disciplines are Nursing and Education, we are providing both Diploma and Bachelor's Degrees . Affiliated to Government Universities and recognised by Central and State Government board Councils.
                                              </p>
                                           </div>
                                        </div>
                                     </div>
                                     <ul class="sub-nav sub-nav-has-feature">
                                         <li class="sub-nav-item">
                                             <a href="https://stjohnsinstitutions.com/bsc-nursing-college.html" class="sub-nav-link"><span>B.Sc. Nursing</span></a>
                                         </li>
                                         <li class="sub-nav-item">
                                             <a href="https://stjohnsinstitutions.com/diploma-in-nursing.html" class="sub-nav-link"><span>Diploma Nursing</span></a>
                                         </li>
                                         <li class="sub-nav-item">
                                             <a href="https://stjohnsinstitutions.com/all-courses.html#bednursing" class="sub-nav-link"><span>B.Ed</span></a>
                                         </li>                                                
                                          <li class="sub-nav-item">
                                             <a href="https://stjohnsinstitutions.com/all-courses.html#dtednursing" class="sub-nav-link"><span>D.T.Ed</span></a>
                                         </li>
                                         <li class="sub-nav-item">
                                             <a href="https://stjohnsinstitutions.com/paramedical-courses.html" class="sub-nav-link"><span>Paramedical Courses</span></a>
                                         </li> 
                                         <li class="sub-nav-item">
                                             <a href="https://stjohnsinstitutions.com/bsc-in-accident-and-emergency-care.html" class="sub-nav-link"><span>B.Sc Accident and Emergency Care Technology</span></a>
                                         </li>										                                             
                                        <li class="sub-nav-item">
                                             <a href="https://stjohnsinstitutions.com/bsc-in-dialysis-technology.html" class="sub-nav-link"><span>B.Sc Dialysis Technology</span></a>
                                         </li>                                               
                                        <li class="sub-nav-item">
                                             <a href="https://stjohnsinstitutions.com/bsc-in-radiology-and-imaging.html" class="sub-nav-link"><span>B.Sc Radiology and Imaging Technology</span></a>
                                         </li>										
                                     </ul>
                                  </div>
                               </div>
                            </li>
                            <li class="nav-item">
                               <a href="https://stjohnsinstitutions.com/gallery.html" rel="nofollow, noindex"class="nav-link nav-link-custom">GALLERY</a>
                            </li>
                            <li class="nav-item">
                               <a href="https://stjohnsinstitutions.com/contact-us.html" rel="nofollow, noindex" class="nav-link nav-link-custom">CONTACT US</a>
                            </li>
                            
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="UT-page" id="ut-page-content" role="main">
      <div id="ut-intro" class="container">
        <div class="row">
          <div class="column small-12 medium-9 medium-centered large-7">
