<%- include('partials/header') %>
    <link href="css/style.css" type="text/css" rel="stylesheet" />
    <div class="container-custom">
        <form id="frm-mobile-verification" method="POST" action="\otpvalidation">
            <div class="form-row">
                <label style="cursor: pointer; display: block; font-size: 1.2rem; font-weight: normal; line-height: 1.5; margin-bottom: 0; width: 100%; text-align: center;"><%= status %></label>
            </div>

            <div class="form-row">
                <input type="number" id="mobileOtp" name="otpvalidationno" class="form-input" placeholder="Enter the OTP" />
            </div> 
            <div class="row">
                <input id="verify" type="submit" class="btnVerify" value="Verify" style="border: 2px solid white; border-radius: 3px; color: white;" />
            </div>
            <a href="/"><p style="margin: 0 atuto; font-size: 1em;margin-top: 5%;font-size: 1em; margin-top: 5%; border: 2px solid; width: auto;">Resend OTP or Change number</p></a>
           
        </form>
    </div>
    <%- include('partials/footer') %>