<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <meta name="GENERATOR" content="IBM Software Development Platform" />
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-6" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <link rel="stylesheet" type="text/css" href="https://tnvelaivaaippu.gov.in/Empowerst/css/onward.css" />
    <link rel="stylesheet" type="text/css" href="https://tnvelaivaaippu.gov.in/Empowerst/css/style.css" />
    <script>
        function printPage() {
            //document.getElementById("printbutton").style.display = 'none';
            //window.print();
            document.getElementById("printbutton").style.display = "none";
            setTimeout("window.print()", 300);
            setTimeout("enabledPrintButtons()", 400);
        }

        function enabledPrintButtons() {
            document.getElementById("printbutton").style.display = "";
        }

        function closewindow() {
            parent.document.getElementById("dwindow").style.display = "none";
        }

        function continueDetails() {
            parent.continueRegDetails();
            parent.document.getElementById("dwindow").style.display = "none";
        }

        function profileSubmit() {
            parent.profileSubmit();
            parent.document.getElementById("dwindow").style.display = "none";
        }

        function iagreeClick(obj) {
            if (obj.checked == true)
                document.getElementById("continue").style.display = "";
            else if (obj.checked == false)
                document.getElementById("continue").style.display = "none";
            else document.getElementById("continue").style.display = "none";
        }

        function openTermsAndConditions() {
            var url = "UserCreationAction.htm?method=openTermsAndConditions";
            var width = "300";
            var height = "200";

            document.getElementById("dwindow").style.display = "";
            document.getElementById("dwindow").style.menubar = "1";
            document.getElementById("dwindow").style.width = initialwidth =
                width + "px";
            document.getElementById("dwindow").style.height = initialheight =
                height + "px";
            document.getElementById("dwindow").style.left = "300px";
            document.getElementById("dwindow").style.top = ns6 ?
                window.pageYOffset * 1 + 20 + "px" :
                iecompattest().scrollTop * 1 + 20 + "px";
            document.getElementById("cframe").src = url;
        }
    </script>
</head>

<body border="0" topmargin="0" marginheight="0" leftmargin="0" marginleft="0" valign="center">
    <div id="dwindow" style="position:absolute; left:100px; top:100px; display:none; z-index:10102;" wfd-invisible="true">
        <table width="100%" class="iframeheader" border="0" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td width="80%" align="CENTER">
                        <bean:message key="searchcriter"></bean:message>
                    </td>
                    <td width="20%" align="RIGHT">
                        <img src="https://tnvelaivaaippu.gov.in/Empowerst/images/i_maximize.png" title="Maximize" border="0" align="top" width="20" height="20" id="maxname" onclick="maximize('',850,550)" />
                        <img src="https://tnvelaivaaippu.gov.in/Empowerst/images/i_close.png" title="Close" border="0" align="top" width="20" height="20" onclick="closeit()" />
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="dwindowcontent" class="iframeBorder">
            <iframe id="cframe" style="border:0px" src="" width="100%" height="100%"></iframe>
        </div>
    </div>
    <form method="post">
        <table border="0" width="100%" cellspacing="0" cellpadding="0" class="printrow">
            <tbody>
                <tr class="printrow">
                    <td width="95%" align="RIGHT">
                        <a href="#" onclick="printPage();"><img src="https://tnvelaivaaippu.gov.in/Empowerst/images/printer.png" width="25" height="25" name="printbutton" id="printbutton" border="0" title="Print" alt="Print" style="" /><br /></a>
                    </td>
                    <td width="5%" align="RIGHT">&nbsp;</td>
                </tr>
            </tbody>
        </table>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" background="https://tnvelaivaaippu.gov.in/Empowerst/images/bgMiddTop.gif" style="top:-25px;">
            <tbody>
                <tr>
                    <td align="center">
                        <img src="https://tnvelaivaaippu.gov.in/Empowerst/images/printIdHeader.gif" border="0" />
                    </td>
                </tr>
            </tbody>
        </table>
        <table align="CENTER" border="0" width="100%" cellpadding="0" cellspacing="5" style="margin-top:-15px;">
            <tbody>
                <tr class="reportlightrow">
                    <td width="32%" align="CENTER" class="homelink">&nbsp;</td>
                    <td width="50%" align="CENTER" class="homelink" style="line-height:15px;">
                        District Employment and Career Guidance Centre-Kancheepuram
                    </td>
                    <td width="18%" align="CENTER" class="homelink">&nbsp;</td>
                </tr>
            </tbody>
        </table>
        <table align="CENTER" border="0" width="100%" cellpadding="5" cellspacing="0">
            <tbody>
                <tr class="reportheaderpage">
                    <td align="CENTER">X-10 Identity Card</td>
                </tr>
            </tbody>
        </table>
        <table align="CENTER" class="tableBorder" border="0" width="98%" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td width="1%">
                        <table align="CENTER" border="0" width="100%" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td width="2%" align="LEFT">&nbsp;</td>
                                    <td width="23%" class="reportlightrow" align="LEFT">
                                        Registration Number
                                    </td>
                                    <td width="25%" class="reportdarkrow" align="LEFT">
                                        KPD2016M00030748
                                    </td>
                                    <td width="23%" class="reportlightrow" align="LEFT">
                                        Next Renewal Due Month
                                    </td>
                                    <td width="25%" class="reportdarkrow" align="LEFT">
                                        September' 2022
                                    </td>
                                    <td width="2%" align="LEFT">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td width="2%" align="LEFT">&nbsp;</td>
                                    <td width="23%" class="reportlightrow" align="LEFT">
                                        Date of Registration
                                    </td>
                                    <td width="25%" class="reportdarkrow" align="LEFT">
                                        06/09/2016
                                    </td>
                                    <td width="23%" class="reportlightrow" align="LEFT">
                                        Date of Birth
                                    </td>
                                    <td width="25%" class="reportdarkrow" align="LEFT">
                                        27/06/1995
                                    </td>
                                    <td width="2%" align="LEFT">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td width="2%" align="LEFT">&nbsp;</td>
                                    <td width="23%" class="reportlightrow" align="LEFT">
                                        Name
                                    </td>
                                    <td width="25%" class="reportdarkrow" align="LEFT" colspan="3">
                                        KIRAN J.C
                                    </td>
                                    <td width="2%" align="LEFT">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td width="2%" align="LEFT">&nbsp;</td>
                                    <td width="23%" class="reportlightrow" align="LEFT">
                                        Address
                                    </td>
                                    <td width="25%" class="reportdarkrow" align="LEFT" colspan="3">
                                        S/O J.CHINNI KRISHNAIAH,NO132/133 KAMARAJAR STREET,MANIKANDAN NAGAR,KUNDRATHUR,SRIPERAMBUDUR TK,KANCHIPURAM DT
                                    </td>
                                    <td width="2%" align="LEFT">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td width="2%" align="LEFT">&nbsp;</td>
                                    <td width="23%" class="reportlightrow" align="LEFT">
                                        District
                                    </td>
                                    <td width="25%" class="reportdarkrow" align="LEFT" colspan="3">
                                        KANCHEEPURAM
                                    </td>
                                    <td width="2%" align="LEFT">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td width="2%" align="LEFT">&nbsp;</td>
                                    <td width="23%" class="reportlightrow" align="LEFT">
                                        Pincode
                                    </td>
                                    <td width="25%" class="reportdarkrow" align="LEFT">
                                        600069
                                    </td>
                                    <td width="23%" class="reportlightrow" align="LEFT">
                                        Religion
                                    </td>
                                    <td width="25%" class="reportdarkrow" align="LEFT">
                                        Hindu
                                    </td>
                                    <td width="2%" align="LEFT">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td width="2%" align="LEFT">&nbsp;</td>
                                    <td width="23%" class="reportlightrow" align="LEFT">
                                        Community
                                    </td>
                                    <td width="25%" class="reportdarkrow" align="LEFT">
                                        BC - Backward Class
                                    </td>
                                    <td width="23%" class="reportlightrow" align="LEFT">
                                        Caste
                                    </td>
                                    <td width="25%" class="reportdarkrow" align="LEFT">
                                        DEVANGAR
                                    </td>
                                    <td width="2%" align="LEFT">&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                        <table align="CENTER" border="0" width="96%" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td width="100%">
                                        <hr color="white" style="margin-bottom:1px; margin-top:4px;" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table align="CENTER" border="0" width="96%" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td width="35%" align="LEFT">
                                        <table align="CENTER" border="0" width="100%" cellpadding="2" cellspacing="2">
                                            <tbody>
                                                <tr class="reportheader1">
                                                    <td align="LEFT" colspan="2">NCO Details</td>
                                                </tr>
                                                <tr class="reportlightrow">
                                                    <td width="50%" align="LEFT">NCO Code</td>
                                                    <td width="50%" align="LEFT">Seniority Date</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td width="65%" align="LEFT">&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                        <table align="CENTER" border="0" width="96%" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td width="100%">
                                        <hr color="white" style="margin-bottom:1px; margin-top:4px;" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table align="CENTER" border="0" width="96%" cellpadding="2" cellspacing="2">
                            <tbody>
                                <tr class="reportheader1">
                                    <td align="LEFT" colspan="5">Qualification Details</td>
                                </tr>
                                <tr class="reportlightrow">
                                    <td width="20%" align="LEFT">Qualifications</td>
                                    <td width="10%" align="CENTER">Medium</td>
                                    <td width="20%" align="CENTER">Subject</td>
                                    <td width="10%" align="CENTER">NCO Code</td>
                                    <td width="15%" align="CENTER">Seniority Date</td>
                                </tr>
                                <tr class="reportdarkrow">
                                    <td width="20%" align="LEFT">SSLC</td>
                                    <td width="10%" align="CENTER">English</td>
                                    <td width="20%" align="CENTER"></td>
                                    <td width="10%" align="CENTER">X0110</td>
                                    <td width="15%" align="CENTER">06/09/2016</td>
                                </tr>
                                <tr class="reportdarkrow">
                                    <td width="20%" align="LEFT">DIPLOMA ENGINEERING</td>
                                    <td width="10%" align="CENTER">English</td>
                                    <td width="20%" align="CENTER">Electl.&amp;Electrs.Engg</td>
                                    <td width="10%" align="CENTER">03210</td>
                                    <td width="15%" align="CENTER">06/09/2016</td>
                                </tr>
                            </tbody>
                        </table>
                        <table align="CENTER" border="0" width="96%" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td width="100%">
                                        <hr color="white" style="margin-bottom:1px; margin-top:4px;" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table align="CENTER" border="0" width="96%" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td width="100%">
                                        <hr color="white" style="margin-bottom:1px; margin-top:4px;" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table align="CENTER" border="0" width="96%" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td width="100%">
                                        <hr color="white" style="margin-bottom:1px; margin-top:4px;" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table align="CENTER" border="0" width="100%" cellpadding="0" cellspacing="0" style="text-align: justify">
                            <tbody>
                                <tr class="reportheader1">
                                    <td align="CENTER">
                                        THIS IS A COMPUTER GENERATED ID CARD, HENCE REQUIRES NO SIGNATURE
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <br /><br /><br />
                        <table border="0" align="CENTER" width="90%" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr class="reportheader1">
                                    <td width="50%" align="LEFT">Signature Of Candidate</td>
                                    <td width="50%" align="CENTER">
                                        Deputy Director /District Employment and Career Guidance Centre-Kancheepuram
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr></tr>
                            </tbody>
                        </table>
                        <table align="CENTER" style="margin-top:20px" border="0" width="100%" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr class="reportheader1">
                                    <td align="CENTER">INSTRUCTIIONS TO CANDIDATES</td>
                                </tr>
                                <tr>
                                    <td class="reportlightrow" align="LEFT">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; a) Online Registration /Renewal/Updation can be done in the Website of www.tnvelaivaaippu.gov.in .
                                    </td>
                                </tr>
                                <tr>
                                    <td class="reportlightrow" align="LEFT">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; b) User Id's Registration Number and Password is Date of Birth
                                    </td>
                                </tr>
                                <tr>
                                    <td class="reportlightrow" align="LEFT">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; c) Change your password after initial registration.
                                    </td>
                                </tr>
                                <tr>
                                    <td class="reportlightrow" align="LEFT">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; d) As per Governmant Order No.GO.Ms.No.276 of Labour and employment(T1) Department,dated.24/12/2010.
                                        <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Your registration is liable for cancellation if registration details are found to be bogus.
                                    </td>
                                </tr>
                                <tr>
                                    <td class="reportlightrow" align="LEFT">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; e) A grace period of two months is allowed for renewing your registration following the renewal month .
                                    </td>
                                </tr>
                                <tr>
                                    <td class="reportlightrow" align="LEFT">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; f) Special Renewal Concession has been allowed up to (Eighteen Months)18 months excluding renewal due month.
                                    </td>
                                </tr>
                                <tr>
                                    <td class="reportlightrow" align="LEFT">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; g) Candidates should approach Employment officers with all relevant certificates for registering priority or carrying out corrections if any.
                                    </td>
                                </tr>
                                <tr>
                                    <td class="reportlightrow" align="LEFT">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; h) Candidates selected against regular vacancies should surrender their registration identity card to
                                        <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;the Employment office. <br /><br />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</body>

</html>